# Dependencies
node_modules

# Build output
dist

# Development files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
*.log
npm-debug.log*

# Testing
coverage

# OS files
.DS_Store
Thumbs.db
